<nav class="nav" id="nav">
    <h2 class="nav__hotel-name">Nombre Hotel</h2>
    <ul class="nav__links">
        <li class="nav__link">
            <img src="/images/nav__booking-icon.svg" alt="icono reservas" class="nav__booking-icon">
            <a href="/booking" class="nav__booking-text">Reservas</a>
        </li>
        <li class="nav__link">
            <img src="/images/nav__customer-icon.svg" alt="icono huespedes" class="nav__customer-icon">
            <a href="/customers" class="nav__customer-text">Huespedes</a>
        </li>
        <li class="nav__link">
            <img src="/images/nav__check-in-icon.svg" alt="icono check-in" class="nav__check-in-icon">
            <a href="/check-in" class="nav__check-in-text">Check-in/Out</a>
        </li>
        <li class="nav__link">
            <img src="/images/nav__services-icon.svg" alt="icono servicios" class="nav__services-icon">
            <a href="/services" class="nav__services-text">Servicios</a>
        </li>
    </ul>
</nav>